html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-menu-navigation {
    display: inline-block;
    width: 900px;
    margin: 0 150px;
    padding: 76px 0 104px;
    list-style: none;
    text-align: center;
}

.main-menu-navigation li {
    display: inline-block;
}

.ls {
    margin-right: 122px;
}

.ph {
    margin-right: 104px;
}

.mc {
    margin-right: 96px;
}

.main-menu-navigation a:hover,
.main-menu-navigation a:focus {
    color: #03a9f4;
}

.main-menu-link {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

.section-board {
    display: inline-block;
    width: 900px;
    margin: 0 150px;
    font-size: 0;
}

.article-board {
    display: inline-block;
    width: 420px;
    height: 480px;
    margin-right: 60px;
    margin-bottom: 130px;
}

.article-board:nth-child(2n) {
    margin-right: 0;
}

.article-board:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.image-under-text {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 30px 0 26px;
}

.h2-text {
    font-size: 30px;
    margin: 0 0 36px;
}

.lorem-text {
    font-size: 14px;
}

.main-button {
    width: 164px;
    height: 60px;
    color: #626262;
    font-size: 20px;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 50px 368px 70px;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}